<section class="invoice">
  
  <div class="row">
    <div class="col-xs-12">
      <h2 class="page-header"><a href="http://www.<%= @domain.domainname %>"><%= @domain.domainname %></a></h2>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-3">
      <h2>Domain Details</h2>
      <p>Number of Bids : <%= @domain.numberOfBids %></p>
      <p>Valuation : <%= @domain.valuation %></p>
      <p>Auction Link : <a href="<%= @domain.link %>"><%= @domain.source %></a></p>
      
      <div>
        <h2>Filters</h2>
      
      </div>
    </div>
    
    <div class="col-xs-9">
      <pre><%=@domain.html%></pre>
    </div>
  </div>
</section>
