<section class="invoice">
  
  <div class="row">
    <div class="col-xs-12">
      <h2 class="page-header"><a href="http://www.<%= @domain.domainname %>"><%= @domain.domainname %></a></h2>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-3">
      <h2>Domain Details</h2>
      <p>Number of Bids : <%= @domain.numberOfBids %></p>
      <p>Valuation : <%= @domain.valuation %></p>
      <p>Auction Link : <a href="<%= @domain.link %>"><%= @domain.source %></a></p>
      
      <div>
        <h2>Filters</h2>
      <% @filter.each do |f| %>
      <div style="padding:2px;background-color:#f3f3f3;border:1px solid #a9a9a9;margin:2px">
        <p><b>Name :</b> <%= f.name %> <b>Selector: </b> <%= f.selector %> </p>
        <p><b>Regex: </b> <%= f.regex %> <span class="fa <%= if(definded?(@fil[f.id]).nil?) else @fil[f.id] end %>" style="color:red" /></p>
      </div>
      <% end %>
      </div>
    </div>
    
    <div class="col-xs-9">
      <pre><%=@domain.html%></pre>
    </div>
  </div>
</section>