<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @filter.name %>
</p>

<p>
  <strong>Selector:</strong>
  <%= @filter.selector %>
</p>

<p>
  <strong>Regex:</strong>
  <%= @filter.regex %>
</p>

<%= link_to 'Edit', edit_filter_path(@filter) %> |
<%= link_to 'Back', filters_path %>
